<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd              
    http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-4.3.xsd http://www.springframework.org/schema/mvc  http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd                   
    http://www.springframework.org/schema/util  http://www.springframework.org/schema/util/spring-util-4.3.xsd">
<!-- 控制器1 -->
<bean id="indexController1" name="/index.action" class="com.wangwang.springmvcfirst.controller.IndexController"></bean>

<bean id="indexController2" class="com.wangwang.springmvcfirst.controller.IndexController2"/>
<!-- 处理器映射器1 -->
<bean id="beanNameUrlhandlerMapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"></bean>
<!-- 处理器映射器2 -->
<bean id="simpleUrlHandlerMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
   <property name="mappings">
     <props>
       <prop key="/index.action">indexController1</prop>
       <prop key="/index2.action">indexController1</prop>
       <prop key="/index3.action">indexController2</prop>
     </props>
   </property>
</bean>
<!-- 处理器适配器 1-->
<bean id="simpleControllerHandlerAdapter" class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"></bean>

<!-- 处理器适配器2 -->
<bean id="httpRequestHandlerAdpater" class="org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter"></bean>
<!-- 视图解析器 -->
<bean id="viewResolve" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
  <property name="prefix" value="/WEB-INF/jsp/"/>
  <property name="suffix" value=".jsp"/>
</bean>

<!-- 配置注解方式 -->
<mvc:annotation-driven></mvc:annotation-driven>
<!-- 使用组件扫描  控制器-->
<context:component-scan base-package="com.wangwang.springmvcfirst"></context:component-scan>
</beans>